*{
    margin: 0;
    padding:0;
    color: white;
    font-family:'Montserrat', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
}

.navbar{
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: space-evenly;
    
}

.navbar i{margin-left: 20px;
    color: white;
    font-size: 32px;
    
}

.home{
    
    height: 55px;
    width: 55px;
    background-color: #1f1f1f;
    border-radius: 50%;
    border-style: none;
    padding-right: 40px;
    display: flex;
    justify-content: center;
   
}

.home i{ font-size: 24px;
    margin-left: 40px;
    margin-top: 15px;
    
}



.search{
    display: flex;
    align-items: center;
    color:#b3b3b3;
    display: flex;
    height: 48px;
    width:390px;
    background-color: #1f1f1f;
    border-radius: 50px ;
    border-style: none;
}

.searchicon i{margin-left: 6px;
    font-size: 24px;
    color: #b3b3b3;
    
}


input{
    border-style: none;
    border-right: 1px solid #b3b3b3;
    padding-right: 20px;
    font-weight: 570;
    font-size: 16px;
    width: 100%;
    padding: 13px;
    background-color: #1f1f1f;
}



.browse {margin-right: 10px;
    border-left: #b3b3b3;
    width:45px;
    background-color: transparent;
    border-style: none;}
   

.browse i{
    
    font-size: 24px;
    color: #b3b3b3;}

.facilities a{
    
    height: 48px;
    width: 67;
    padding: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #b3b3b3;
    
}    

.facilities{
    display: flex;
    height: 40px;
    border-style: none;
    border-right: 1px solid #b3b3b3;;}

.install{
    display: flex;
    font-weight: 700;
    color:#b3b3b3}

.install a{color: #b3b3b3;
font-size: 14px;
text-decoration: none;}    

.install i{
    height: 10px;
    width: 10px;
    font-size: 7px;
    border:1px solid #b3b3b3;
    border-radius: 50%;
    padding: 5px 0 0 5px;
color: #b3b3b3;}    

.login{margin-right: 10px;}

.login button{
    color: #000000;
    font-weight: bold;
    height: 50px;
    width: 108px;
    border-style: none;
    background-color: white;
    border-radius: 999px;
    transition: inherit;
}