*{
    margin: 0;
    padding:0;
    color: white;
    font-family:'Montserrat', sans-serif;
}


body{background-color: #000000;}



.header{
    display: flex;
    flex-direction: row;
}



.navbar{
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: space-evenly;
    
}
.navbar1{
    display: flex;
    height: 64px;
    width: 1050px;
    background-color: #000000;
    align-items: center;
    justify-content: space-between
    
}
.navbar2{
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #000000;
    align-items: center;
    justify-content: end;
    margin-left: 20px;
    
}

.navbar i{margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 32px;
    
}

.home{
    
    height: 55px;
    width: 55px;
    background-color: #1f1f1f;
    border-radius: 50%;
    border-style: none;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
   
}

.home i{ font-size: 22px;
    margin-left: 60px;
  
    
}

.home :hover{
    
    scale: 1.2;
}

.search{
    
    display: flex;
    align-items: center;
    color:#b3b3b3;
    display: flex;
    height: 48px;
    width:480px;
    background-color: #1f1f1f;
    border-radius: 50px ;
    border-style: none;
}

.searchicon i{margin-left: 6px;
    font-size: 24px;
    color: #b3b3b3;
    cursor: pointer;
    
}


.searchicon i:hover{
    scale: 1.2;
    color: white;
}



input{
    border-style: none;
    border-right: 1px solid #b3b3b3;
    padding-right: 20px;
    font-weight: 570;
    font-size: 16px;
    width: 100%;
    padding: 13px;
    background-color: #1f1f1f;
}

input:hover{background-color: #282828;}

.browse {margin-right: 10px;
    border-left: #b3b3b3;
    width:45px;
    background-color: transparent;
    border-style: none;}
   

.browse i{
    cursor: pointer;
    font-size: 24px;
    color: #b3b3b3;}

.browse i:hover{
    scale: 1.2;
    color: white;
}
.search:hover{
    border:1px solid white;
    background-color: #282828;
}


.facilities a{
    
    height: 48px;
    width: 67;
    padding: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #b3b3b3;
    
}    

.facilities{
    display: flex;
    height: 40px;
    border-style: none;
    border-right: 1px solid #b3b3b3;}

.facilities a:hover{
    scale:1.2;
    color:white
}    

.install{
    display: flex;
    font-weight: 700;
    color:#b3b3b3;
padding-right:20px ;}

.install a{color: #b3b3b3;
font-size: 14px;
text-decoration: none;}    

.install i{
    height: 10px;
    width: 10px;
    font-size: 7px;
    border:1px solid #b3b3b3;
    border-radius: 50%;
    padding: 5px 0 0 5px;
color: #b3b3b3;}    

.install:hover{
    scale: 1.2;
    color: white;
}

.login{margin-right: 10px;}

.login button{
    color: #000000;
    font-weight: bold;
    height: 50px;
    width: 108px;
    border-style: none;
    background-color: white;
    border-radius: 999px;
    transition: inherit;
    cursor: pointer;
}

.login:hover{
    scale: 1.1;
    color: white;
}

/* body */

.content{
    display: flex;
}



.library{
    color: white;
    background-color: #171718;
    width: 515px;
    height: 582px;
    border-radius: 10px;
    margin-right: 8px;
    margin-left: 8px;
}


.one{font-weight: bold;
    display: flex;
    margin:15px;
    justify-content: space-between;
    
}


.one button{
    font-weight: bold;
    
    background-color: #1f1f1f;
    border-style: none;
    height: 30px;
    width: 90px;
    border-radius: 999px;
    cursor: pointer;

}

.two{ padding: 16px 0 ;
    font-size: 15px;
    margin:8px;
    margin-top: 10px;
    max-height: 260px;
    margin-bottom: 40px;
    overflow-y: auto; 

}
.first{padding-left: 20px;
    background-color: #1f1f1f;
    margin: 4px;
    padding-top: 16px;
    border-radius: 10px;
    height: 115px;}
    
    
.second{
        padding-top: 16px;
        padding-left: 20px;
        background-color: #1f1f1f;
        margin: 4px;
        border-radius: 10px;
        height: 115px;
        margin-bottom: 20px;
    }

.two button:hover{scale:1.2;}
    
.two::-webkit-scrollbar{width: 10px;}


.two::-webkit-scrollbar-track{
   background:transparent;
}
.two::-webkit-scrollbar-thumb {
    background: transparent;
    
}
.two::-webkit-scrollbar-thumb:hover {
    background:rgba(212, 211, 211, 0.5);}

.two::-webkit-scrollbar-thumb:active {
    background:rgba(212, 211, 211, 1);}
    
    
    .two button{
        font-weight: bold;
        color: #000000;
        background-color: white;
        border-style: none;
        height: 30px;
        width:fit-content;
        padding: 0 15px 0 15px ;
        border-radius: 999px;
        cursor: pointer;
    
    }

    .two p{padding: 10px 0;}

.three{
    display: flex;
    flex-wrap: wrap;
    height: 55px;
}    
.three a{margin-left: 20px;
    color: #b3b3b3;
    font-size: 12px;
    text-decoration: none;
}

.cookies a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 12px;}

.cookies :hover{
    text-decoration:underline ;
}


.four button{
    margin-top: 20px;
        font-weight: bold;
        font-size:small;
        margin-left: 20px;
        background-color:#171718;
        border: 1px solid white;
        height: 30px;
        width: 110px;
        border-radius: 999px;
        cursor: pointer;}

.four button:hover{
    scale:1.2;
}

.music{ background: linear-gradient(
        to bottom,
        rgb(31, 31, 31,1),  /* top (visible) */
        rgba(0, 0, 0, 0)     /* bottom (transparent) */
    );
    background-color: #171718;
    width: 1350px;
    max-height: 583px;
    border-radius: 10px;
    margin-right: 8px;
    overflow-y: auto;
    overflow-x: hidden;
   
}


.music::-webkit-scrollbar{width: 15px;}


.music::-webkit-scrollbar-track{
   background:transparent;
}
.music::-webkit-scrollbar-thumb {
    background: rgba(212, 211, 211, 0.25);
    
}
.music::-webkit-scrollbar-thumb:hover {
    background:rgba(212, 211, 211, 0.5);}

.music::-webkit-scrollbar-thumb:active {
    background:rgba(212, 211, 211, 1);}

.music1{margin-top: 25px;
margin-left: 40px;}

.music1 a{text-decoration: none;}    
.music1 a:hover{text-decoration:underline;}


.songs{display: flex;
    height: 300px;
    max-width:995px ;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
    
.songs::-webkit-scrollbar{height: 6px;}
    
    
.songs::-webkit-scrollbar-track{
       background:transparent;
    }
.songs::-webkit-scrollbar-thumb {
        background: rgba(212, 211, 211, 0);
        
}

    
.card {
    flex-shrink: 0;
    padding-right: 20px;
    margin-top: 20px;
    width: 177px;
    height: 270px;
    background-color:transparent;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    position: relative;
}

/* Image */
.card-img {
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
}

/* Content */
.card-content {
    padding: 8px;
}

/* Title */
.card-content h3 {
    font-size: 14px;
    margin: 5px 0;
    font-weight: bold;
    line-height: 1.2;
}

/* Artist text */
.card-content p {
    font-size: 12px;
    color: #b3b3b3;
    margin: 0;
}

.card:hover {
    background-color: #282828;
}

.play-btn {
    position: absolute;
    bottom: 20px;
    right: 15px;

    width: 45px;
    height: 45px;
    background-color: #1db954;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-size: 16px;

    /* hidden initially */
    opacity: 0;
    transform: translateY(15px);

    transition: all 0.3s ease;
}



.card:hover .play-btn {
    opacity: 1;
    transform: translateY(0);
}

/* Optional: slight lift effect */
.play-btn:hover {
    transform: scale(1.1);
}



.music2{margin-left: 40px;
margin-top: 20px;
}

.music2 a{ 
    text-decoration: none;
    margin-bottom: 20px;}

.music2 a:hover{text-decoration: underline;}    

.artist{
    margin-top: 20px;
    display: flex;
    height: 300px;
    max-width:995px ;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;}    


.artist::-webkit-scrollbar{height: 6px;}
    
    
.artist::-webkit-scrollbar-track{
       background:transparent;
    }
.artist::-webkit-scrollbar-thumb {
        background: rgba(212, 211, 211, 0);
        
}    

.card2 {
    flex-shrink: 0;
    padding-right: 20px;
    margin-top: 10px;
    width: 177px;
    height: 270px;
    background-color:transparent;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
    position: relative;
}


.card2:hover {
    background-color: #282828;
}

.card2 img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 50% ;}



.card2:hover .play-btn {
    opacity: 1;
    transform: translateY(0);
}

/* Optional: slight lift effect */
.play-btn:hover {
    transform: scale(1.1);
}    

.music3{height: 350px;
   
    border-top: 0.5px solid #808182;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music3 ul{
    list-style: none;
    margin-right: 80px;
}

.music3 p{
    font-weight: bold;
    margin-bottom: 10px;
   
}

.music3 a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 8px;
}

.music3 a:hover{
    text-decoration: underline;
}



.music4{display: flex;
padding-left: 30px;
align-items: center;
padding-top: 40px;
margin-bottom: 40px;
font-size: 13px;
border-top: 1px solid rgb(91, 90, 90);}


.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:8px;
    background: linear-gradient(
        to right,
        darkorchid,  /* top (visible) */
        rgb(102, 175, 227) );    /* bottom (transparent) */
   
    height: 66px;
    width: 99%;
    border-radius: 10px;
}




.foot button{
    background-color: white;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    height: 50px;
    margin-right: 30px;
    width: 177px;
    border-style: none;
    border-radius: 999px;    

}

.foot button:hover{scale:1.2;}

.foot a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 14px;
    
}